.clients{
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
  .client__link{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    background-color: #fff;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover{
    border: 1px solid #2196F3;
  
  }
}
  .client__link:hover .client__icon,
  .client__link:focus .client__icon{
    fill: var(--accent-color);
  }
  .client__item:not(:last-child){
    margin-right: 30px;
  }
  
  
  .client__icon{
    fill:  #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover{
    fill: #2196F3;
  }
}